.Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}
.card {
    background-color: var(--dark-blue);
    width: 200px;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.clock {
    color: var(--grayish-blue);
    font-size: 14px;
    font-weight: 700;
}

.text {
    color: var(--soft-red);
    font-size: 100px;
    font-weight: 700;
}

.bulletL {
    width: 20px;
    height: 20px;
    background-color: var(--dark);
    border-radius: 50%;
    position: absolute;
    bottom: 90px;
    left: -10px;
}

.bulletR {
    width: 20px;
    height: 20px;
    background-color: var(--dark);
    border-radius: 50%;
    position: absolute;
    bottom: 90px;
    right: -10px;
}

.line {
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: var(--dark);
    left: 0px;
    bottom: 98px;
    z-index: 2;
    opacity: 0.5;
}