:root {
    --soft-red: hsl(345, 95%, 68%);
    --grayish-blue: hsl(237, 18%, 59%);
    --white: hsl(0, 0%, 100%);
    --dark-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --dark: hsl(234, 17%, 12%);
}

.App {
    background-color: var(--very-dark-blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
}

.HillContainer {
    position: absolute;
    bottom: 0px;
}

.Card {
    display: flex;
}

h1 {
    margin-bottom: 100px;
    color: var(--white);
    position: absolute;
    top: 70px;
    font-size: 50px;
}